POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_NAME=foodgram
DB_HOST=db
DB_PORT=5432
DEBUG=True
SECRET_KEY=django-secret-key
ALLOWED_HOSTS=example.com 127.0.0.1 localhost
